
body {
    background: linear-gradient(to left, #8942a8, #ba382f) !important;
  }

.col-6 {
    transform: translateY(70%);
}
p:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}
