
$text-color: white;

@mixin underlineHover($bg) {
    position: relative;
    text-decoration: none;
    color: inherit;
  
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 1px; 
      width: 0%;
      height: 2px; 
      background-color: $bg;
      transition: width 0.3s ease; 
    }
  
    &:hover::before {
      width: 100%; 
    }
}

.underline {
    color: $text-color !important;
    @include underlineHover($text-color);
}

#shopCart {
  color: $text-color;
}

.cartAmount {
  color: $text-color;
}

.cart {
  position: relative;
  border: 1px solid white;
  padding: 7px;
  border-radius: 6px;
}

.cartAmount {
  position: absolute;
  top: -11px;
  right: -5px;
  border: 1px solid white;
  border-radius: 6px;
  padding: 0px 3px;
  background-color: red;
}

.buttons {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  gap: 8px;
}
.fa-minus {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fa-plus {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quantity {
  font-size:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.shop {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
  cursor: default;
  &:hover {
    text-decoration: none !important;
  }
}
.col {
  position: relative;
  border: 5px solid black;
  border-radius: 20px;
  background-color: #2e2f33;
  padding: 0px 20px;
  height: 500px;
}
.price-quantity {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 5px;
  left: 10px;
}
.buttons {
  border: 1px solid white;
  border-radius: 10px;
  background-color: black;
}

img {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;

}
body {
  text-decoration: none !important;
}

i {
  cursor: pointer;
}


